proyectos/n8n/contador.json
{
  "name": "Contador Webhook",
  "nodes": [
    {
      "parameters": {
        "path": "contador",
        "httpMethod": "GET",
        "responseMode": "responseNode"
      },
      "id": "WebhookNode",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "const data = this.getWorkflowStaticData('global');\n\nif (!data.contador) {\n  data.contador = 0;\n}\n\ndata.contador += 1;\n\nreturn [\n  {\n    json: {\n      contador: data.contador\n    }\n  }\n];"
      },
      "id": "FunctionNode",
      "name": "Incrementar Contador",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "RespondNode",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Incrementar Contador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incrementar Contador": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true
}