proyectos/n8n/holamundo.json
{
  "name": "Workflow Webhook con Respuesta",
  "nodes": [
    {
      "parameters": {
        "path": "mi-webhook",
        "httpMethod": "GET",
        "responseMode": "responseNode"
      },
      "id": "WebhookNode",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "mensaje",
              "value": "Hola Ana, workflow ejecutado correctamente 🚀"
            }
          ]
        }
      },
      "id": "SetNode",
      "name": "Set Respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "RespondNode",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Respuesta": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "2"
}